<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681855199261-8756i0tgvp2is086ceqfjl4aidljm7s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681855199261-8756i0tgvp2is086ceqfjl4aidljm7s6</string>
	<key>API_KEY</key>
	<string>AIzaSyBL_CalNRRIdCyESKUXFD6ydO3s0MZTyPY</string>
	<key>GCM_SENDER_ID</key>
	<string>681855199261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.csumb-divegamaravilla.designcode</string>
	<key>PROJECT_ID</key>
	<string>swiftuiproject-42b36</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiproject-42b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681855199261:ios:82018375f7645f411ffef4</string>
	<key>DATABASE_URL</key>
	<string>https://swiftuiproject-42b36.firebaseio.com</string>
</dict>
</plist>